<ion-header>
  <ion-toolbar class="customize-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-img class="logo p-3" src="assets/img/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tableSwitch=='1'">
  <div class="app-layout set-height">
    <div class="container">
      <div class="heading">
        <h3>CLIENT INFO</h3>
      </div>  
      <ion-list class="main-list">
                
        <ion-item lines="none">         
          <ion-label>
            <ion-label>
              <div class="main-detail">  
                   <h3><b>Name: </b>Fusion Projects </h3>
                  <h3 id="projects"><b>Type: </b>Projects </h3>   
                  <div class="main-subdetail">
                    <h2><b>Associated User</b></h2>
                    <p><b>User ID: </b> 106</p>
                    <p><b>Username: </b> btran@fusion-projects.com</p>
                    <p><b>Company Name: </b> Fusion projects</p>
                  </div> 
                  <div class="main-subdetail">
                    <h2><b>Contact Details</b></h2>
                    <p><b>Contact Name:  </b> Benson Tran</p>
                    <p><b>Email: </b> btran@fusion-projects.com</p>
                    <p><b>Telephone: </b> 971232544</p>
                  </div>	
              </div>                         
            </ion-label>
          </ion-label>
        </ion-item>
    </ion-list>
    </div>
  </div>
</ion-content>


<ion-content *ngIf="tableSwitch=='2'">
  <div class="app-layout set-height">
    <div class="container">
      <div class="heading">
        <h3>CLOCK IN/OUT</h3>
      </div>  
      <ion-list class="main-list">
                
        <ion-item lines="none">         
          <ion-label>
            <ion-label>
              <div class="main-detail">  
                   <h3><b>Name: </b>Fusion Projects </h3>
                  <h3 id="projects"><b>Type: </b>Projects </h3>   
                  <div class="main-subdetail">
                    <h3><b>In-Time </b> 11:10 AM </h3>   
                    <h3 id="projects"><b>Out-Time </b> 07:00 PM </h3>   

                    <!-- <h2><b>In-Time</b></h2>
                    <p><b>User ID: </b> 106</p>
                    <p><b>Username: </b> btran@fusion-projects.com</p>
                    <p><b>Company Name: </b> Fusion projects</p> -->
                  </div> 
              </div>                         
            </ion-label>
          </ion-label>
        </ion-item>
    </ion-list>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="tableSwitch=='3'">
  <div class="app-layout set-height">
    <div class="container">
      <div class="heading">
        <h3>PROJECT INFO</h3>
      </div>  
      <ion-list class="main-list">
                
        <ion-item lines="none">         
          <ion-label>
            <ion-label>
              <div class="main-detail">  
                <h3><b>Name: </b>BC RECYCLE  </h3>
                <h3><b>Date: </b>14/02/2020  </h3>
                  <h3 id="projects"><b>Project Type: </b>Projects </h3>   
                  <div class="main-subdetail">
                    <h2><b>Client Details</b></h2>
                    <p><b>Company Name: </b> Elite Results Marketing Group</p>
                    <p><b>Contact Name:: </b> James Findlay</p>
                    <p><b>Email: </b>  james@elitermg.com</p>
                    <p><b>Telephone: </b>  16047571117/p>
                  </div>            
                  <div class="main-subdetail">
                    <h2><b>Status</b></h2>
                    <p>The contract has not yet been sent to the client.</p>
                  </div>	
              </div>                         
            </ion-label>
          </ion-label>
        </ion-item>
    </ion-list>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="tableSwitch=='4'">
  <div class="app-layout set-height">
    <div class="container">
      <div class="heading">
        <h3>INVOICE INFO</h3>
      </div>  
      <ion-list class="main-list">
                
        <ion-item lines="none">         
          <ion-label>
            <ion-label>
              <div class="main-detail">  
                <h3><b>Name: </b>Maquina  </h3>
                <h3><b>Amount: </b>$100  </h3>
                <h3 id="projects"><b>Issue / Due Dates: </b>14/02/2020  </h3>
                  <div class="main-subdetail">
                    <h2><b>Client Details</b></h2>
                    <p><b>Company Name: </b> Elite Results Marketing Group</p>
                    <p><b>Contact Name:: </b> James Findlay</p>
                    <p><b>Email: </b>  james@elitermg.com</p>
                    <p><b>Telephone: </b>  16047571117/p>
                  </div>            
                  <div class="main-subdetail">
                    <h2><b>Status</b></h2>
                    <p>The contract has not yet been sent to the client.</p>
                  </div>	
              </div>                         
            </ion-label>
          </ion-label>
        </ion-item>
    </ion-list>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="tableSwitch=='5'">
  <div class="app-layout set-height">
    <div class="container">
      <div class="heading">
        <h3>ESTIMATE INFO</h3>
      </div>  
      <ion-list class="main-list">
                
        <ion-item lines="none">         
          <ion-label>
            <ion-label>
              <div class="main-detail">  
                <h3><b>Name: </b>James  </h3>
                <h3><b>Amount: </b>$20  </h3>
                <h3 id="projects"><b>Issue / Due Dates: </b>14/02/2020  </h3>
                  <div class="main-subdetail">
                    <h2><b>Client Details</b></h2>
                    <p><b>Company Name: </b> Elite Results Marketing Group</p>
                    <p><b>Contact Name:: </b> James Findlay</p>
                    <p><b>Email: </b>  james@elitermg.com</p>
                    <p><b>Telephone: </b>  16047571117/p>
                  </div>            
                  <div class="main-subdetail">
                    <h2><b>Status</b></h2>
                    <p>The contract has not yet been sent to the client.</p>
                  </div>	
              </div>                         
            </ion-label>
          </ion-label>
        </ion-item>
    </ion-list>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="tableSwitch=='6'">
  <div class="app-layout set-height">
    <div class="container">
      <div class="heading">
        <h3>PAYMENT INFO</h3>
      </div>  
      <ion-list class="main-list">
                
        <ion-item lines="none">         
          <ion-label>
            <ion-label>
              <div class="main-detail">  
                <h3><b>Name: </b>Paul Molive  </h3>
                <h3><b>Amount: </b>$80  </h3>
                <h3 id="projects"><b>Date: </b>14/02/2020  </h3>
                  <div class="main-subdetail">
                    <h2><b>Client Details</b></h2>
                    <p><b>Company Name: </b> Elite Results Marketing Group</p>
                    <p><b>Contact Name:: </b> James Findlay</p>
                    <p><b>Email: </b>  james@elitermg.com</p>
                    <p><b>Telephone: </b>  16047571117/p>
                  </div>            
                  <div class="main-subdetail">
                    <h2><b>Status</b></h2>
                    <p>The contract has not yet been sent to the client.</p>
                  </div>	
              </div>                         
            </ion-label>
          </ion-label>
        </ion-item>
    </ion-list>
    </div>
  </div>
</ion-content>