<ion-header>
  <ion-toolbar class="customize-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-img class="logo p-3" src="assets/img/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<div id="container">
  <ion-list>
    <ion-item>
      <ion-label>Business</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gym</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Themes</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Travelling</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Spritual</ion-label>
    </ion-item>
  </ion-list>
</div>